.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.message {
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
}

.details {
  margin-top: 50px;
  padding: 20px;
  font-size: 14px;
}

.logoutButtonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logoutButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-out;
}

.logoutButton:hover {
  background-color: #0056b3;
}
